.bamin_background {
  background-color: #2ac1bc;
}

/* .top_fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
} */

#menu {
  position: fixed;
  max-width: 100%;
  top: 0;
  z-index: 10;
  padding-top: 50px;
}

#logo-img {
  height: 40px;
}

#menu-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  border-top: 0;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.8);
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}